sudo: true

services:
  - postgresql

addons:
  postgresql: "9.5"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq build-essential gettext python-dev zlib1g-dev libpq-dev xvfb
  - sudo apt-get install -qq libtiff4-dev libjpeg8-dev libfreetype6-dev liblcms1-dev libwebp-dev
  - sudo apt-get install -qq graphviz-dev python-setuptools python3-dev python-virtualenv python-pip
  - sudo apt-get install -qq firefox automake libtool libreadline6 libreadline6-dev libreadline-dev
  - sudo apt-get install -qq libsqlite3-dev libxml2 libxml2-dev libssl-dev libbz2-dev wget curl llvm
language: python
python:
  - "3.5"

install:
  - pip install -r requirements/local.txt
  - pip install -r requirements/test.txt
  - pip install flake8

before_script:
  - export DATABASE_URL="postgresql://postgres:secret@127.0.0.1/warp"
  - psql -c 'create database warp;' -U postgres

script:
  - py.test
  - flake8 .

notifications:
  slack: twoscoop:rv1lxlhuExtzlUTtl6modR5J
