form#create_html {
  div.usage-paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
    div.language-markdown {
      span.highlight {
        font-family: monospace, monospace;
        font-size: 1em;
      }
    }
  }
}
