div.best-week {
  height: 55%;
}
div.large-centered {
  div.best-week {
    margin: 0 0 2rem 0;
    div.best-wrapper {
      div.best-presentation {
        width: 100%;
        padding-bottom: 75%;
        background-color: white;
      }
    }
  }
  div.presentation {
    margin-bottom: 1em;
    div.row {
      div.medium-6 {
        div.presentation-main {
          position: relative;
          color: #0a0a0a;
          background-color: white;
          padding-bottom: 75%;
          div.warp-list-subject {
            position: absolute;
            top: 40%;
            width: 100%;
            h1 {
              text-align: center;
              color: black;
              font-size: 25px;
              margin-bottom: 0;
            }
          }
        }
        div.presentation-footer {
        }
      }
    }

    ul.pagination {
      li.pagination-previous, li.pagination-next {
        a {
          color: $key-green-color;
        }
      }
      .current {
        border-radius: 25px;
        background-color: $key-orange-color;
      }

      a {
        &:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
  }
}
