div.login-form {
  margin-top: 5%;
  h3 {
    color: white;
  }
  div.login-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5%;
    border: 1px solid $key-green-color;

    .login-title {
      font-size: 20px;
      color: $key-green-color;
    }

    a.back-login {
      color: $key-orange-color;
      margin-bottom: 1rem;
    }

    div.login-title-wrapper {
      margin-bottom: 1rem;
    }
    div.social-list {
      margin-bottom: 20px;
      a {
        margin-right: 4.5%;
      }
    }

    p#error_1_id_login, #error_1_id_password {
      strong {
      color: #c11104;
      font-size: 13px;
      }
    }

    a.forgot-pass {
      margin-left: 3px;
      font-size: 12px;
      color: #516f89;
      &:hover {
        color: white;
      }
    }
  }

  form {
    a {
      float: right;
      width: 48%;
      margin-bottom: 0;
      background-color: $key-orange-color;
      &:hover {
        background-color: #ff5000;
      }
    }

    button {
      float: left;
      width: 48%;
      margin-bottom: 0;
      background-color: $key-green-color;
      &:hover {
        background-color: #00a57c;
      }
      &.signup {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
