form#create_html {
  height: calc(100% - #{$desktop-header-height} - #{$desktop-header-margin-bottom});

  label.usage-switch-elems {
    display: inline-block;
  }

  div#small-contents {
    height: 100%;

    div.callout-full {
      height: 100%;
      display: flex;

      div {
        align-self: center;
        margin: auto;
      }
    }
  }

  div#large-medium-contents {
    $margin-bottom: 1rem;
    height: calc(100% - #{$margin-bottom});
    margin-bottom: $margin-bottom;

    $contents-header-height: 3.5rem;

    div.contents-header {
      height: $contents-header-height;
    }
    div.contents-body {
      height: calc(100% - #{$contents-header-height});

      div.editor-side {
        height: 100%;
        $header-height: 1.813rem;
        $header-margin-bottom: 0.5rem;

        div.header {
          height: $header-height;
          margin-bottom: $header-margin-bottom;
        }
        a.usage-toggle-btn {
          margin: 0;
          width: 7.9rem;
        }
        div.ace-chrome {
          div.ace_line {
             span.ace_list {
               span.ace_cjk {
                 color: rgb(185, 6, 144);
               }
             }
            span.ace_text {
              color: #000;
            }
          }
        }
        div#id_markdown {
          height: calc(100% - #{$header-height + $header-margin-bottom});
          max-height: calc(100% - #{$header-height + $header-margin-bottom});
          border: 1px solid #cacaca;

          h1, h2, h3, h4, h5, a, button, div, label {
            color: black;
          }
        }
      }

      div.preview-side {
        height: 100%;

        h1, h2, h3, h4, h5, a, span, button, div, label {
          color: black;
        }

        div.preview {
          height: 100%;
          overflow-y: scroll;
          background-color: #8a8a8a;

          div.slide {
            height: 20.375rem;
            overflow-y: hidden;
          }
        }
      }
    }
  }
}
