form#create_html {
  height: 100%;

  .usage-switch-elems {
    display: inline-block;
  }
  .editor-side {
    .header {
      margin-bottom: 0.5rem;
    }
    .usage-toggle-btn {
      margin: 0;
      width: 7.9em;
    }
  }

  #small-contents {
    height: 100%;
  }
  .callout-full {
    height: 100%;
    display: flex;
    div {
      align-self: center;
      margin: auto;
    }
  }
}

.vex.vex-theme-bottom-left-corner {
  .vex-content {
    width: 51rem;

    .callout-small-font {
     font-size: 1rem;
    }
    .callout {
      display: inline-block;
      height: 21.875rem;
    }

    #usage-content {
      font-family: monospace, monospace;
      font-size: 0.85em;
      .text {
        color: #828388;
      }
    }
  }
}
