body {
  overflow-y: hidden;
}

form#create_html {
  $top-bar-height: 4.938em;
  height: calc(100% - #{$top-bar-height});

  label.usage-switch-elems {
    display: inline-block;
  }

  div#small-contents {
    height: 100%;

    div.callout-full {
      height: 100%;
      display: flex;

      div {
        align-self: center;
        margin: auto;
      }
    }
  }

  div#large-medium-contents {
    height: 100%;
    padding-bottom: 1rem;

    $contents-header-height: 3.5rem;
    $contents-header-margin: 0.500rem;

    div.contents-header {
      height: $contents-header-height;
    }
    div.contents-body {
      height: calc(100% - #{$contents-header-height - $contents-header-margin});

      div.editor-side {
        height: 100%;
        $header-height: 1.813rem;
        $header-margin-bottom: 0.5rem;

        div.header {
          height: $header-height;
          margin-bottom: $header-margin-bottom;
        }
        a.usage-toggle-btn {
          margin: 0;
          width: 7.9rem;
        }
        div#id_markdown {
          height: calc(100% - #{$header-height + $header-margin-bottom});
          max-height: calc(100% - #{$header-height + $header-margin-bottom});
          border: 1px solid #cacaca;
        }
      }
    }
    div.preview-side {
      height: 100%;

      div.preview {
        width: 35.625rem;
        height: 100%;
        overflow-y: scroll;
        background-color: #8a8a8a;

        div.slide {
          height: 20.375rem;
          overflow-y: hidden;
        }
      }
    }
  }
}

div.vex.vex-theme-bottom-left-corner {
  div.vex-content {
    width: 51rem;

    div.callout-small-font {
     font-size: 1rem;
    }
    div.callout {
      display: inline-block;
      height: 21.875rem;
    }

    div#usage-content {
      font-family: monospace, monospace;
      font-size: 0.85em;
      span.text {
        color: #828388;
      }
    }
  }
}
