div.best-week {
  width: 100%;
  height: 40%;
  background-color: #030F1D;
  box-shadow: #010206 0 3px 14px 0;
}
div.large-centered {
  div.best-week {
    margin: 0 0 2rem 0;
    div.best-wrapper {
      div.best-presentation {
        width: 100%;
        padding-bottom: 75%;
        background-color: white;
      }
    }
  }
  div.presentation {
    div.row {
      div.medium-6 {
        float: left;
        div.preview {
          margin: 0;
          border-top: 1px solid rgba(10, 10, 10, 0.25);
          border-left: 1px solid rgba(10, 10, 10, 0.25);
          border-right: 1px solid rgba(10, 10, 10, 0.25);
          color: #0a0a0a;
          background-color: white;
          border-radius: 5px 5px 0 0;
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          div, span.token.interpolation, h1, h2, h3, h4, h5 {
            color: black;
          }

          a {
            color: #4678ff;
          }

          div.slide {
            height: 17.5rem;
            visibility: hidden;
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            outline: none;
            code {
              border: none;
              pre {
                span.token {
                  font-size: inherit;
                  &.operator {
                    background: none;
                  }
                }
              }
            }
          }
        }
        div.presentation-footer {
          margin: 0 0 0.3rem 0;
          background-color: #1e4675;
          height: 34px;
          text-align: right;
          border-radius: 0 0 5px 5px;
          div {
            line-height: 34px;
            margin-right: 8px;
            display: inline-block;
          }
        }
        div.presentation-info {
          margin: 0 0 60px 0;
          div.presentation-title {
            display: inline-block;
            font-size: 1.5rem;
          }
          div.presentation-author {
            display: inline-block;
            float: right;
            font-size: 1rem;
            a {
              color: gray;
              line-height: 2.7;
            }
            a.author {
              color: $key-green-color;
            }
          }
        }
      }
    }

    ul.pagination {
      li.pagination-previous, li.pagination-next {
        a {
          color: $key-green-color;
        }
      }
      .current {
        border-radius: 25px;
        background-color: $key-orange-color;
      }

      a {
        color: #354586;
        &:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
  }
}
