{% extends "base.html" %}
{% load staticfiles %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div id="user-profile">
  <div class="profile">
    <div class="container">
      <div class="row">
        <div class=" small-4 medium-3 columns text-right">
          <img class="user-profile-img" src="{{ object.get_profile_image_url }}" alt=""/>
        </div>
        <div class="small-8 medium-9 columns text-left">
          <h1 class="">{{ object.username }}</h1>
          {% if object.name %}
            <p>{{ object.name }}</p>
          {% endif %}
          {% if object.get_full_name %}
            <p>
              {{ object.get_full_name }}
            </p>
          {% endif %}
          {% if object.email %}
            <p>{{ object.email }}</p>
          {% endif %}

          {% if object == request.user %}
            <!-- Action buttons -->
            <p>
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update My Info</a>
              <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
              <!-- Your Stuff: Custom user template urls -->
            </p>
            <!-- End Action buttons -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Presentation List  -->
  {% include "presentation/_list.html" %}

<!-- End Presentation List -->
{% endblock content %}
{% block extra_css %}
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'vendor/marked/marked.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/resize-slides.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/mdElemsToHtmlElems.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/list/index.min.js' %}"></script>
{% endblock %}
