// common
@import "common/variables";

// default
@import "common/project";

//default apply (mobile first)

@import "mobile/header";
@import "mobile/footer";
@import "mobile/login";
@import "mobile/presentation.create";
@import "mobile/presentation.list";
@import "mobile/presentation.detail";

//tablet-all
@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  @import "tablet/header";
  @import "tablet/presentation.list";
  @import "tablet/presentation.create";
  @import "tablet/footer";
}

//desktop
@media screen and (min-width: $cross-desktop-max-width) {
  @import "desktop/header";
  @import "desktop/presentation.list";
  @import "tablet/presentation.create";
  @import "tablet/footer";
}
