{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}
{% block title %}{% block head_title %}Create Presentation - warp{% endblock head_title %}{% endblock title %}

{% block header %}
  <div class="form-header">
    <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
      <div class="title">
        <a href="/">Warp</a>
      </div>
      <div class="feature small-offset-10 medium-offset-10 large-offset-11">
        <button class="publised-button" type="button" data-toggle="example-dropdown">Published <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
          <div class="row contents-option">
            <span class="custom-label">Publishing scope</span>
            <div class="medium-12 columns switch-wrapper">
              <input type="radio" value="True" class="left-switch" name="is_public" id="{{ form.is_public.auto_id }}" checked/>
              <label for="{{ form.is_public.auto_id }}">Public</label>
              <input type="radio" value="False" class="right-switch" name="is_public" id="right-switch"/><label
                    for="right-switch">Private</label>
            </div>
          </div>
          <div class="row contents-header">
            <div class="small-12 medium-12 large-12 columns">
              <span class="custom-label">Subject*</span>
              <div class="input-group">
                <input type="text" class="input-group-field" maxlength="50" id="id_subject" name="subject" {% if form.subject.value %}value="{{ form.subject.value }}"{% endif %}>
                {% if form.subject.errors %}
                  <span class="form-error" data-form-error-for="id_subject" style="display: inline;">
                    {% for error in form.subject.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>
              <span class="custom-label">Add tags</span>
              <p>Add tags your presentation reaches more people (These are separated by <span class="emphasis">commas</span> or <span class="emphasis">spaces</span>.)</p>
              <div class="input-group">
                {{ form.tags }}
                {% if form.tags.errors %}
                  <span class="form-error" data-form-error-for="id_tags" style="display: inline;">
                      {% for error in form.tags.errors %}
                        {{ error }}
                      {% endfor %}
                    </span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="medium-6 columns option option-wrapper">
            <button class="button" onclick="publish();">publish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <style type="text/css">
    body {
      overflow-y: hidden;
    }
  </style>
  <form id="form_html" name="form" action="{{ action_url }}" method="post" data-abide>
    <div id="small-contents" class="show-for-small-only">
      <div class="callout callout-full text-center">
        <div>
          <h1>Sorry, we don't support this page on mobile devices.</h1>
          <h2>
            <a href="{% url 'presentation:list' %}"><strong>Go to main</strong></a>
          </h2>
        </div>
      </div>
    </div>
    <div id="large-medium-contents" class="hide-for-small-only medium-10 medium-centered large-10 large-centered">

      <div class="row contents-body">
        <div class="editor-side small-6 medium-6 large-6 columns">
          {% csrf_token %}
          {{ form.markdown }}
          <input type="hidden" id="exist_markdown" name="exist_markdown" {% if markdown %} value="{{ markdown }}"{% endif %} >
          <div id="markdown_editor"></div>
          <a class="usage-toggle-btn"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
        <div class="preview-side small-6 medium-6 large-6 columns">
          <div class="preview">
            <div class="callout secondary slide data-slide-0"></div>
          </div>
        </div>
      </div>
    </div>
    {% if object.pk %}
      <input type="text" value="{{ object.pk }}" id="{{ form.pk.auto_id }}">
    {% endif %}
  </form>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'vendor/marked/marked.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/form/usage_button.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/form/preview.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/resize-slides.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/form/index.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/ace/ace.js' %}"></script>
{% endblock %}
