{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% block head_title %}Presentation Create - warp{% endblock head_title %}{% endblock title %}

{% block content %}
    <form id="create_html" action="{% url 'presentation:create' %}" method="post">
        <div class="row">
            <div class="small-6 columns">
                <div class="input-group">
                    <label for="{{ form.subject.auto_id }}" class="input-group-label">{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>
            </div>
            <div class="small-6 columns">
                <input type="checkbox" id={{ form.is_public.auto_id }}><label for="{{ form.subject.auto_id }}" class="">Public</label>
                <button class="preview-btn medium button">Preview</button>
                <input class="medium button" type="submit" value="Create">
            </div>
        </div>
        <div class="row">
            <div class="editor-side small-6 columns">
                {% csrf_token %}
                <div>
                    <label for="{{ form.markdown.auto_id }}">{{ form.markdown.label }}</label>
                    {{ form.markdown }}
                </div>
            </div>
            <div class="preview-side small-6 columns">
                <div class="preview"></div>
                <hr>
                <p class="usage">
                    <h4>Syntax guide</h4>

                    <div class="usage-paragraph">Here’s an overview of Markdown syntax that you can use anywhere on GitHub.com or in your own text files.</p>

                    <div class="usage-paragraph callout">
                        <h5>Headers</h5>

                        <div class="language-markdown highlighter-rouge">
                            <pre class="highlight"># This is an &lt;h1&gt; tag
## This is an &lt;h4&gt; tag
###### This is an &lt;h6&gt; tag</pre>
                        </div>
                    </div>
                    <div class="usage-paragraph callout">
                        <h5>Emphasis</h5>

                        <div class="language-markdown highlighter-rouge">
    <pre class="highlight">*This text will be italic*
_This will also be italic_

**This text will be bold**
__This will also be bold__

_You **can** combine them_</pre>
                        </div>
                    </div>

                    <div class="usage-paragraph callout">
                        <h5>Lists</h5>
                        <div class="usage-paragraph callout secondary">
                            <h6>Unordered</h6>

                            <div class="language-markdown highlighter-rouge">
        <pre class="highlight">* Item 1
* Item 2
  * Item 2a
  * Item 2b</pre>
                            </div>
                        </div>

                        <div class="usage-paragraph callout secondary">
                            <h6>Ordered</h6>

                            <div class="language-markdown highlighter-rouge">
                                <pre class="highlight">1. Item 1
2. Item 2
3. Item 3
   * Item 3a
   * Item 3b</pre>
                            </div>
                        </div>
                    </div>

                    <div class="usage-paragraph callout">
                        <h5>Images</h5>

                        <div class="language-markdown highlighter-rouge">
                            <pre class="highlight">Format: ![Alt Text](url)
Example: ![GitHub Logo](/images/logo.png)</pre>
                        </div>
                    </div>

                    <div class="usage-paragraph callout">
                        <h5>Links</h5>

                        <div class="language-markdown highlighter-rouge">
                            <pre class="highlight">http://github.com - automatic!
[GitHub](http://github.com)</pre>
                        </div>
                    </div>

                    <div class="usage-paragraph callout">
                        <h5>Blockquotes</h5>

                        <div class="language-markdown highlighter-rouge">
                            <pre class="highlight">As Kanye West said:

&gt; We're living the future so
&gt; the present is our past.</pre>
                        </div>
                    </div>

                    <div class="usage-paragraph callout">
                        <h5>Inline code</h5>

                        <div class="highlighter-rouge">
<pre class="highlight">I think you should use an
`&lt;addr&gt;` element here instead.</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'vendor/marked/marked.js' %}"></script>
    <script src="{% static 'js/create.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
{% endblock extra_css %}