{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}
{% block title %}{% block head_title %}Presentation Create - warp{% endblock head_title %}{% endblock title %}

{% block content %}
  <style type="text/css">
    body {
      overflow-y: hidden;
    }
  </style>
  <form id="create_html" action="{{ action_url }}" method="post" data-abide>
    <div id="small-contents" class="show-for-small-only">
      <div class="callout callout-full text-center">
        <div>
          <h1>Sorry, we don't support this page on mobile devices.</h1>
          <h2>
            <a href="{% url 'presentation:list' %}"><strong>Go to main</strong></a>
          </h2>
        </div>
      </div>
    </div>
    <div id="large-medium-contents" class="hide-for-small-only medium-12 medium-centered large-12 large-centered">
      <div class="row contents-header">
        <div class="small-6 medium-6 large-6 columns">
          <div class="input-group">
            <label for="id_subject" class="input-group-label">Subject</label>
            <input type="text" class="input-group-field" maxlength="50" id="id_subject" name="subject" {% if form.subject.value %}value="{{ form.subject.value }}"{% endif %}>
            {% if form.subject.errors %}
              <span class="form-error" data-form-error-for="id_subject" style="display: inline;">
              {% for error in form.subject.errors %}
                {{ error }}
              {% endfor %}
            </span>
            {% endif %}
          </div>
          <div class="input-group">
            <label for="id_tags" class="input-group-label">Tags</label>
            {{ form.tags }}
            {% if form.tags.errors %}
              <span class="form-error" data-form-error-for="id_tags" style="display: inline;">
                {% for error in form.tags.errors %}
                  {{ error }}
                {% endfor %}
              </span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row contents-option">
        <div class="medium-5 columns switch-wrapper">
          <input type="radio" value="True" class="left-switch" name="is_public" id="{{ form.is_public.auto_id }}" checked/>
          <label for="{{ form.is_public.auto_id }}">Public</label>
          <input type="radio" value="False" class="right-switch" name="is_public" id="right-switch"/><label
          for="right-switch">Private</label>
        </div>
        <div class="medium-1 columns option option-wrapper">
          <button class="button medium"><i class="fa fa-upload" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row contents-body">
        <div class="editor-side small-6 medium-6 large-6 columns">
          {% csrf_token %}
          {{ form.markdown }}
          <input type="hidden" id="exist_markdown" name="exist_markdown" {% if markdown %} value="{{ markdown }}"{% endif %} >
          <div id="markdown_editor"></div>
          <a class="usage-toggle-btn"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
        <div class="preview-side small-6 medium-6 large-6 columns">
          <div class="preview">
            <div class="callout secondary slide data-slide-0"></div>
          </div>
        </div>
      </div>
    </div>
    {% if object.pk %}
      <input type="text" value="{{ object.pk }}" id="{{ form.pk.auto_id }}">
    {% endif %}
  </form>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'vendor/marked/marked.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/create/usage_button.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/create/preview.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/resize-slides.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/create/index.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/ace/ace.js' %}"></script>
{% endblock %}
