{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
{# presentation #}
<div class="best-week">
  <div class="best-wrapper small-6 medium-6 large-4 large-offset-2">
    {#    <div class="best-presentation small-8">#}
    {#    </div>#}
    {#    <h3>This presentation is best of week.</h3>#}
  </div>
</div>
{% include 'presentation/_list.html' %}
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'vendor/marked/marked.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/resize-slides.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/mdElemsToHtmlElems.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/list/index.min.js' %}"></script>
{% endblock %}
