{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
  <div class="row" id="detail">
    <div class="small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
      <div id="normal-view">
        <div class="slide-pane">
          <div class="pane-header">
            <div>
              <button id="likeBtn" class="button btn-primary"
                      onclick="{% if user.is_authenticated %}likePresentation({{ presentation.pk }}){% else %}showPopup(){% endif %}">
                {% if is_user_liked %}<i class="fa fa-heart" aria-hidden="true"></i>{% else %}<i class="fa fa-heart-o" aria-hidden="true"></i>{% endif %}
              </button>
              {% if presentation.author == request.user %}
                <a class="button btn-primary" href="{% url "presentation:update" presentation.pk %}">Update</a>
              {% endif %}
              {% if presentation.author == request.user %}
                <a class="button" href="{% url "presentation:delete" presentation.pk %}">Delete</a>
              {% endif %}
            </div>
          </div>
          <div class="slides">
            {% for slide in presentation.slide_set.all %}
              <div class="slide">{{ slide.markdown }}</div>
            {% endfor %}
            <a id="prev-touch"></a>
            <a id="next-touch"></a>
          </div>
          <div class="controller">
            <div class="arrows">
              {% spaceless %}
                <a id="prev-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <a id="next-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              {% endspaceless %}
            </div>
            <div class="extra-commands">
              <a id="full-screen-btn"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="presentation-info">
        <div class="presentation-title">
          {{ presentation.subject }}
          <div class="warp-list-views">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{ presentation.views }}
            Likes: <span id="likeCount">{{ presentation.likes }}</span>
          </div>
        </div>
        By <div class="presentation-author">
        <a>{{ presentation.author }}</a>
      </div>
        <br>
        Published <div class="presentation-published-date">
        {{ presentation.created }}
      </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'vendor/marked/marked.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/resize-slides.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/mdElemsToHtmlElems.min.js' %}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.2.0/screenfull.min.js"></script>
  <script type="text/javascript" src="{% static 'dist/js/detail/index.min.js' %}"></script>
  <script>
    {% if user.is_authenticated %}
      const likePresentation = (pk) => {
        $.ajax({
          method: "PUT",
          url: "/like/" + pk
        }).done(function (data) {
          const likeCount = Number($('#likeCount').text());
          const likeBtn = $('#likeBtn');
          if(data === 'True') {
            $('#likeCount').text(likeCount + 1);
            $('.fa-heart-o').removeClass('fa-heart-o').addClass('fa-heart');
          }
          else {
            $('#likeCount').text(likeCount - 1);
            $('.fa-heart').removeClass('fa-heart').addClass('fa-heart-o');
          }
        }).fail(function () {
        })
      };
    {% else %}
      const showPopup = () => {
        if(confirm('Like must be logged in. Go to sign-in page?')) {
          location.replace('{% url 'account_login' %}?next=/detail/{{ presentation.id }}');
        }
      };
    {% endif %}
  </script>
{% endblock %}
