{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% block head_title %}Presentation Create - warp{% endblock head_title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="editor small-6 columns">
            <form id="create_html" action="{% url 'presentation:create' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="right-side small-6 columns">
            <button class="preview-btn large button">Preview</button>
            <div class="preview"></div>
            <hr>
            <div class="usage">
                Usage
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'vendor/marked/marked.js' %}"></script>
    <script src="{% static 'js/create.js' %}"></script>
{% endblock %}
