{% extends "base.html" %}
{% block title %}{% block head_title %}Presentation List - warp{% endblock head_title %}{% endblock title %}

{% block content %}
<div style="margin-top: 1em">

  <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
    {% for presentation in presentations %}
    <div class="medium-4 columns">
      <div class="callout" data-equalizer-watch>
        <div class="warp-list-subject">
          {{ presentation.subject }}
        </div>
        <div class="warp-list-author">
          {{ presentation.author }}
        </div>
        <div class="warp-list-views">
          {{ presentation.views }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
