.usage-paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
}

.usage-sidebar {
    padding: 1em;
    position: fixed;
    left: 0;
    background: #222;
    color: white;
    width: 200px;
    height: 100%;
}

.usage-sidebar .text {
    color: #828388;
}
