{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
  <div class="login-form small-5 small-centered">
    <h3>Sign In</h3>
    <div class="login-wrapper">
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p class="login-title">Social Login</p>
        <div class="social-list">
          {% include "account/provider_list.html" with process="login" %}
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      {% endif %}

      <div class="login-title-wrapper">
        <span class="login-title">{% trans 'Login' %}</span>
        <a class="forgot-pass secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
        <button class="button secondaryAction" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
{% endblock %}

