{% load i18n %}

<div id="header" class="row">
  <div class="small-9 large-centered columns">
    <div class="title">
      <a href="/">Warp</a>
    </div>
    <div class="feature">
      {% if user.is_authenticated %}
        <a href="{% url 'presentation:create' %}">Create</a>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      {% else %}
        <a href="{% url 'account_login' %}">sign in</a>
      {% endif %}
    </div>
    <div class="search-wrapper small-3 small-centered">
      <input type="text" />
    </div>
  </div>
</div>
