<div id="header" class="row">
  <div class="small-9 large-centered columns">
    <div class="title">
      <h3>Warp</h3>
    </div>
    <div class="feature">
      <button>sign in</button>
    </div>
    <div class="search-wrapper small-3 small-centered">
      <input type="text" />
    </div>
  </div>
{#  <div class="top-bar-left">#}
{#    <ul class="dropdown menu" data-dropdown-menu>#}
{#      <li class="menu-text">Warp</li>#}
{#    </ul>#}
{#  </div>#}
{#  <div class="top-bar-right">#}
{#    <ul class="menu">#}
{#      <li><input type="search" placeholder="Search"></li>#}
{#      <li><button type="button" class="button">Search</button></li>#}
{#      <li>#}
{#        <a href="{% url 'presentation:create' %}">#}
{#          <button class="button">#}
{#            <i class="fa fa-plus" aria-hidden="true"></i>#}
{#          </button>#}
{#        </a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
</div>
