$contents-header-height: 3.5rem;
div.form-header {
  background-color: #040B14;
  height: $desktop-header-height;
  max-width: none;
  border-bottom: 1px solid $key-green-color;

  div.large-centered {
    height: 100%;
    div.title {
      float: left;
      margin-bottom: 0;
      height: $desktop-header-height;

      a {
        font-size: 24px;
        line-height: 64px;
        color: $key-green-color;
        margin-right: 32px;
      }

      input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
      }
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity:  1;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity:  1;
      }
      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }

      i {
        margin-right: 3px;
        color: white;
      }
    }

    div.feature {
      height: $desktop-header-height;

      button.publised-button {
        position: absolute;
        color: $key-orange-color;
        line-height: $desktop-header-height;
      }
      div.dropdown-pane {
        background-color: #040b14;
        top: 63px !important;
        left: 0 !important;
        margin-left: 70%;
        border: 1px solid $key-green-color;
        box-shadow: 0 3px 15px #3a3a3a;
        div.contents-header {
          margin-bottom: 0.5rem;
          height: 64px;

          span.custom-label {
            color: $key-green-color;
            display: block;
          }
          p {
            font-size: 0.8rem;
            margin-bottom: 0;
            span.emphasis {
              color: $key-orange-color;
            }
          }

          div.columns {
            padding-left: 0;
            padding-right: 0;
            div.input-group {
              label {
                background-color: #040B14;
                font-size: 0.8em;
                color: $key-green-color;
                width: 3rem;
                border: none;
                padding-top: 8px;
                padding-left: 0;
                max-height: 40px;
                text-align: left;
              }
              input[type='text'], input[type='textarea'] {
                background-color: #040B14;
                color: white;
                padding-bottom: 0;
                padding-top: 1rem;
                border: none;
                border-bottom: 1px solid rgba($key-green-color, 0.5);
                margin: 0px;
                &:focus {
                  box-shadow: none;
                  outline: none;
                }
                &:hover, &:focus {
                  border-bottom: 1px solid $key-green-color
                }
              }
            }
          }
        }
        div.contents-option {
          height: $contents-header-height;
          span.custom-label {
            color: $key-green-color;
            margin-bottom: 10px;
            display: block;
          }

          div.switch-wrapper {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
            input[type=radio] {
              display: none;
              + label {
                margin: 0;
                border: 1px solid $key-green-color;
                width: 50%;
                height: 2.3rem;
                text-align: center;
                line-height: 2.3rem;
              }

              &.left-switch {
                + label {
                  float: left;
                  border-right: none;
                }
              }
              &.right-switch {
                + label {
                  float: right;
                  border-left: none;
                }
              }
              &:checked {
                + label {
                  border: none;
                  background-color: $key-green-color;
                }
              }
            }
          }
        }
        div.option-wrapper {
          float: right;
          padding: 0;
          text-align: right;
          .columns {
            padding: 0;
          }
          button {
            height: 2.3rem;
            border: 1px solid $key-orange-color;
            background-color: #040B14;
            color: $key-orange-color;
            border-radius: 15px;
            font-size: 1rem;
            line-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 20px;
            margin-bottom: 0;
          }
          a {
            background-color: inherit;
          }
        }
      }
      @media screen and (max-width: 1024px) and (min-width: 750px) {
        div.dropdown-pane {
          margin-left: 60%;
        }
      }
      @media screen and (max-width: 749px) and (min-width: 640px) {
        div.dropdown-pane {
          margin-left: 50%;
        }
      }
    }
  }
}


form#form_html {
  margin-top: 2rem;
  h1 {
    color: black;
  }
  height: calc(100% - #{$desktop-header-height} - #{$desktop-header-margin-bottom});

  label.usage-switch-elems {
    display: inline-block;
  }

  div#small-contents {
    height: 100%;

    div.callout-full {
      height: 100%;
      display: flex;
      background-color: $key-background-color;

      div {
        h1 {
          color: white;
        }
        h2 {
          a {
            color: $key-orange-color;
          }
        }
        align-self: center;
        margin: auto;
      }
    }
  }

  div#large-medium-contents {
    $margin-bottom: 1.5rem;
    height: 100%;
    margin-bottom: $margin-bottom;

    div.contents-body {
      height: calc(100% - 1.5rem);

      div.editor-side {
        height: 100%;
        $header-height: 1.813rem;
        $header-margin-bottom: 0.5rem;

        div.header {
          height: $header-height;
          margin-bottom: $header-margin-bottom;
        }
        div#markdown_editor {
          height: 100%;
          border: 1px solid $key-green-color;

          textarea.ace_text-input:focus {
            box-shadow: none;
            border: none;
            transition: none;
          }
        }
      }

      div.preview-side {
        height: 100%;
        overflow: hidden;

        div, span.token.interpolation, h1, h2, h3, h4, h5 {
          color: black;
        }

        a {
          color: #4678ff;
        }

        div.preview {
          height: 100%;
          overflow-y: scroll;
          background-color: #8a8a8a;
          &::-webkit-scrollbar {
            display: none;
          }

          div.slide {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            background-color: #ffffff;
            border: none;
            box-shadow: 0 3px 15px #3a3a3a;
            code {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
