form#create_html {
  margin-top: 2rem;
  h1 {
    color: black;
  }
  height: calc(100% - #{$desktop-header-height} - #{$desktop-header-margin-bottom});

  label.usage-switch-elems {
    display: inline-block;
  }

  div#small-contents {
    height: 100%;

    div.callout-full {
      height: 100%;
      display: flex;
      background-color: $key-background-color;

      div {
        h1 {
          color: white;
        }
        h2 {
          a {
            color: $key-orange-color;
          }
        }
        align-self: center;
        margin: auto;
      }
    }
  }

  div#large-medium-contents {
    $margin-bottom: 1.5rem;
    height: calc(100% - #{$margin-bottom});
    margin-bottom: $margin-bottom;

    $contents-header-height: 3.5rem;

    div.contents-header {
      margin-bottom: 0.5rem;
      height: $contents-header-height;
      div.columns {
        div.input-group {
          label {
            background-color: $key-background-color;
            color: $key-green-color;
            border: none;
          }
          input {
            background-color: $key-background-color;
            color: white;
            border: none;
            border-bottom: 1px solid $key-green-color;
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
    }
    div.contents-option {
      margin-bottom: 0.5rem;
      height: $contents-header-height;
      div.option {
        div.switch-wrapper {
          input[type=radio] {
            display: none;
            + label {
              margin: 0;
              border: 1px solid $key-green-color;
              width: 50%;
              height: 2.3rem;
              text-align: center;
              line-height: 2.3rem;
            }

            &#left-switch {
              + label {
                float: left;
                border-right: none;
              }
            }
            &#right-switch {
              + label {
                float: right;
                border-left: none;
              }
            }
            &:checked {
              + label {
                border: none;
                background-color: $key-green-color;
              }
            }
          }
        }
      }
      div.option2 {
        div.option-wrapper {
          float: right;
          a, input {
            height: 2.3rem;
            background-color: $key-green-color;
            font-size: 1rem;
            line-height: 0;
          }
          a {
            background-color: $key-orange-color;
            margin-right: 15px;
          }
        }
      }
    }
    div.contents-body {
      height: calc(100% - #{$contents-header-height});

      div.editor-side {
        height: 80%;
        $header-height: 1.813rem;
        $header-margin-bottom: 0.5rem;

        div.header {
          height: $header-height;
          margin-bottom: $header-margin-bottom;
        }
        a.usage-toggle-btn {
          margin: 0;
          width: 7.9rem;
        }
        div#markdown_editor {
          height: 100%;
          border: 1px solid $key-green-color;

          textarea.ace_text-input:focus {
            box-shadow: none;
            border: none;
            transition: none;
          }
        }
      }

      div.preview-side {
        height: 80%;

        div, span.token.interpolation, h1, h2, h3, h4, h5 {
          color: black;
        }

        a {
          color: #4678ff;
        }

        div.preview {
          height: 100%;
          overflow-y: scroll;
          background-color: #8a8a8a;

          div.slide {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow-y: hidden;
            background-color: #ffffff;
            box-shadow: 0 3px 15px #3a3a3a;
            code {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
