div.best-week {
  height: 35%;
}
div.large-centered {
  div.best-week {
    margin: 0 0 2rem 0;
    div.best-wrapper {
      div.best-presentation {
        width: 100%;
        padding-bottom: 75%;
        background-color: white;
      }
    }
  }
  div.presentation {
    margin-bottom: 1em;

    ul.pagination {
      li.pagination-previous, li.pagination-next {
        a {
          color: $key-green-color;
        }
      }
      .current {
        border-radius: 25px;
        background-color: $key-orange-color;
      }

      a {
        &:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
  }
}
